.hero {
    width: 790px;
    height: 790px;
    padding: 40px 40px 130px 120px;
    background-color: #fff;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
    }

    &__heading {
        margin: 0;
        padding: 0;
        width: 400px;
        font-weight: 900;
        font-size:75px;
    }

    &__line {
        width: 125px;
        height: 4px;
        position: relative;
        top: 50px;
        background-color: dimgray
    }

    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }
}

.tourism {
    display: flex;
    align-items: flex-end;

    &__left {
        margin-right: 60px;
    }

    &__iframe {
        width: 220px;
        height: 140px;
        margin-bottom: 5px;
    }

    &__nextpage {
        display: flex;
        align-items: center;
    }

    &__span {
        margin-right: 5px;
    }

    &__desc {
        margin: 0;
        padding: 0;
        width: 270px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.6;
        color: dimgray;
    }
}